#content_graph {
    height: 100%;
    width: 100%;
    background: white;
    overflow: hidden;
}

.node-cointainer{
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
}

#button_ide_char{
    top: 10px;
    right: 60%;
    background-color: rgb(46, 197, 71);
}

#button_ide_char:hover {
    background-color: #26a69a;
}


#button_ide_node{
    top: 10px;
    right: 65%;
    background-color: rgb(53, 216, 80);
}

#button_ide_node:hover {
    background-color: #2ab3a5;
}

#button_ide_del_node{
    top: 10px;
    right: 70%;
    background-color: rgb(35, 236, 69);
}

#button_ide_del_node:hover {
    background-color: #2ab3a5;
}